<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Todos los productos'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->
	
	<% if (typeof product !== "undefined") { %>
		<script>
			let url = window.location.href;
			url = url.split("products/catalogo");
			let newUrl = url[0] + "products/catalogo";
			window.history.pushState({page: "another"}, "another page", newUrl);


			if("<%= type %>" == "delete"){
				Swal.fire(
				'Producto borrado!',
				"<%= product.name %>",
				'error'
				);
			}else if("<%= type %>" == "create"){
				Swal.fire(
				'Nuevo producto agregado!',
				"<%= product.name %>",
				'success'
				);
			}
			else if("<%= type %>" == "enable"){
				Swal.fire(
				'Producto habilitado!',
				"<%= product.name %>",
				'success'
				);
			}
		</script>
	<% } %>
	<!-- todos los productos -->
	<main class="carrito">
		<div class="carrito__section">
		  <section class="carrito__caja__titulo">
			<h1 class="carrito__titulo"> CATALOGO DE PRODUCTOS <% if (locals.adminEntry) { %>
				<a href="/products/crearProducto"><i class="fa-solid fa-plus"></i></a>
			<% } %> </h1>
			<hr class="carrito__primer__linia__espacio">
		  </section>
		  <!--  <div class="carrito__section__paraescritorio">-->
			<table id="catalogo_tabla">
				<thead>
					<tr>
						<th></th>
						<th>PRODUCTO</th>
						<th>CATEGORIA</th>
						<th>AROMA</th>
						<th>STOCK</th>
						<th>DESCUENTO</th>
						<th>PRECIO</th>
					</tr>
				</thead>
			<!--  <section class="catalogo__titulo__paraescritorio"> 
				<p></p>
			  <p class="carrito__producto__desktop">PRODUCTO</p>
			  <p class="carrito__producto__desktop">CATEGORIA</p>
			  <p class="carrito__producto__desktop">AROMA</p>
			  <p class="carrito__producto__desktop">STOCK</p>
			  <p class="carrito__producto__desktop">DESCUENTO</p>
			  <p class="carrito__producto__desktop">PRECIO</p>
			</section>-->

			<% products.forEach(({id,name,price,image,discount,smell,volume,dimensions,category,stock}) => { %> 
				<%- include('../partials/product_catalogo',{
					id,
					name,
					price,
					image,
					discount,
					smell,
					volume,
					dimensions,
					category,
					stock,
					toThousand
				}) %> 
			<% }) %>
			</table>
			<!-- </div> -->
		</div>
	</main>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>