<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: 'Home' }) %>

    <body>
        <%- include('../partials/header') %>
            <main class="detalle_main">
                <section class="detalle_main_section1">
                    <article class="detalle_main_article_img_principal">
                        <img class="detalle_main_article_img_principal_grande" src="<%= product.Image %>"
                            alt="imagen del producto">
                        <div class="detalle_main_article_img_secundaria_mobile">
                            <img src="<%= product.Image %>" alt="imagen del producto">
                            <img src="<%= product.Image %>" alt="imagen del producto">
                            <img src="<%= product.Image %>" alt="imagen del producto">
                        </div>
                    </article>
                    <article class="detalle_main_article_nombre">
                        <div>
                            <h1>
                                <%= product.Nombre %>
                            </h1>
                            <p>$ <%= product.Precio %>
                                    <p>
                                    <p>Cantidad: <%= product.Cantidad %>
                                    </p>
                                    <div>
                                        <i class="fa-solid fa-truck"></i><span>Envio: $1.500</span>
                                    </div>
                                    <p>Descuento: %<%= product.Descuento %>
                                    </p>
                                    <p>TOTAL: $</p>
                        </div>
                        <button class="detalle_main_article_boton_principal">
                            <a href="">COMPRA AHORA</a>
                        </button>
                        <button class="detalle_main_article_boton_principal">
                            <a href="/products/carrito">AGREGAR AL CARRITO</a>
                        </button>
                        <div class="detalle_main_article_boton_editar-eliminar">
                            <a href="/products/editarProducto/<%= product.Id %> "><button class="detalle_mani_action-button-edit"> EDITAR PRODUCTO</button></a>
                            <form action="/products/eliminarProducto/<%= product.Id %>?_method=DELETE" method="POST"
                                style="display: inline-flex">
                                <button type="submit" class="detalle_mani_action-button-delete">ELIMINAR</button>
                            </form></div>
                    </article>

                </section>
                <section>
                    <article class="detalle_main_article_img_secundaria_tablet">
                        <img src="<%= product.Image %>" alt="imagen del producto">
                        <img src="<%= product.Image %>" alt="imagen del producto">
                        <img src="<%= product.Image %>" alt="imagen del producto">
                        <img src="<%= product.Image %>" alt="imagen del producto">
                        <img src="<%= product.Image %>" alt="imagen del producto">
                        <img src="<%= product.Image %>" alt="imagen del producto">
                        <img src="<%= product.Image %>" alt="imagen del producto">
                    </article>
                </section>
                <section class="detalle_main_section2">
                    <article class="detalle_main_article_caracteristica">
                        <div>
                            <h2>CARACTERISTICAS</h2>
                            <p>CATEGORIA</p>
                            <p>AROMA</p>
                            <p>VOLUMEN</p>
                            <p>DIMENCIONES</p>
                            <p>CODIGO</p>

                            <p>STOCK</p>
                        </div>
                        <div>
                            <h2>.</h2>
                            <p>
                                <%= product.Categoria %>
                            </p>
                            <p>
                                <%= product.Aroma %>
                            </p>
                            <p>
                                <%= product.Volumen %>
                            </p>
                            <p>
                                <%= product.Dimenciones %>
                            </p>
                            <p>
                                <%= product.Codigoid %>
                            </p>

                            <p>
                                <%= product.Stock %>
                            </p>
                        </div>
                    </article>
                    <article class="detalle_main_article_descripcion">
                        <div>
                            <h2>DESCRIPCION</h2>
                            <p>
                                <%= product.Descripcion %>
                            </p>
                        </div>
                    </article>
                </section>
                <section class="detalle_main_section3">
                    <article class="detalle_main_article_ofertas">
                        <h3>OFERTAS</h3>
                        <div class="grid">
                            <div class="col"><img src="../../../img/fotos-productos/jabones/jabon-imagen-6.png"
                                    alt="imagen del producto"></div>
                            <div class="col"><img src="../../../img/fotos-productos/suavisantes/suavisante-imagen-6.png"
                                    alt="imagen del producto"></div>
                            <div class="col"><img src="../../../img/fotos-productos/detergentes/detergente-imagen-6.png"
                                    alt="imagen del producto"></div>
                        </div>
                        <button>
                            <a href="ofertas">ver mas</a>
                        </button>
                    </article>
                    <article class="detalle_main_article_destacados">
                        <h3>DESTACADOS</h3>
                        <div class="grid">
                            <div class="col"><img src="../../../img/fotos-productos/lavandinas/lavandina-imagen-6.png"
                                    alt="imagen del producto"></div>
                            <div class="col"><img
                                    src="../../../img/fotos-productos/liquido-para-pisos/liquidoP-imagen-6.png"
                                    alt="imagen del producto"></div>
                            <div class="col"><img src="../../../img/fotos-productos/lavandinas/lavandina-imagen-5.png"
                                    alt="imagen del producto"></div>
                        </div>
                        <button>
                            <a href="productosdestacados">ver mas</a>
                        </button>
                    </article>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>