<%- include('../../partials/head', {title: 'Agregar metodo de pago' }) %>

    <body class="preguntasFrecuentes-body">
        <%- include('../../partials/header') %>
            <main class="preguntasFrecuentes">
                <section class="preguntasFrecuentes__section">
                    <!-- TITULO -->
                    <!-- entramos a esta vista gracias al metodo agregarPagos -->
                    <div class="preguntasFrecuentes__section__cajaTitulo">
                        <h1>Agregar metodo de pago</h1>
                    </div>
                    <!-- FORMULARIO -->
                    <!-- Si completa el formulario, se guardaran los datos en el JSON gracias al metodo escribirPregunta -->
                    <form id="form-metodos-validator" action="" method="POST" class="preguntasAgregar__Caja" enctype="multipart/form-data">
                        <div class="registro__email__container">
                            <label for="icono">Icono (solo lo que contiene class)</label>
                            <input onclick="inputParaValidar(this)" type="text" name="icono" id="icono" class="preguntasFrecuentes__section__article <%= locals.errors && errors.icono ? "registro__email__container-inValid" : null %>" value="<%= locals.old ? old.icono : null %>">
                            <% if (locals.errors && errors.icono) { %><!-- si vino locals, y tengo un error en el icono, entra -->
                                <small><%= errors.icono.msg %></small>
                            <% } %> 
                            <small id="smallFormMetodos-icono"></small> 
                        </div>
                        <div class="registro__email__container"> 
                            <label for="title">Subtitulo</label >
                            <input onclick="inputParaValidar(this)" type="text" name="title" id="title" class="preguntasFrecuentes__section__article <%= locals.errors && errors.title ? "registro__email__container-inValid" : null %>" value="<%= locals.old ? old.title : null %>">
                            <% if (locals.errors && errors.title) { %><!-- si vino locals, y tengo un error en el icono, entra -->
                                <small><%= errors.title.msg %></small>
                            <% } %>  
                            <small id="smallFormMetodos-title"></small>
                        </div>
                        <div class="registro__email__container">
                            <label for="letraAbajoS">Agregar frase abajo del subtitulo</label>
                            <input onclick="inputParaValidar(this)" type="text" name="letraAbajoS" id="letraAbajoS" class="preguntasFrecuentes__section__article <%= locals.errors && errors.letraAbajoS ? "registro__email__container-inValid" : null %>" value="<%= locals.old ? old.letraAbajoS : null %>">
                            <% if (locals.errors && errors.letraAbajoS) { %><!-- si vino locals, y tengo un error en el icono, entra -->
                                <small><%= errors.letraAbajoS.msg %></small>
                            <% } %>
                            <small id="smallFormMetodos-letraAbajoS"></small>
                        </div>
                        <div class="registro__email__container">
                            <label for="img">Imagenes</label>
                            <input onclick="inputParaValidar(this)" type="file" name="img" id="img" class="preguntasFrecuentes__section__article" multiple accept="image/*">
                            <% if (locals.errors && errors.img) { %><!-- si vino locals, y tengo un error en el icono, entra -->
                                <small><%= errors.img.msg %></small>
                            <% } %>
                            <small id="smallFormMetodos-img"></small>
                        </div>
                        <div class="registro__email__container">
                            <label for="letraAbajoI">Agregar frase abajo de cada imagen.</label>
                            <input type="text" name="letraAbajoI" id="letraAbajoI" class="preguntasFrecuentes__section__article" value="<%= locals.old ? old.letraAbajoI : null %>">
                        </div>
                        <div class="registro__email__container">
                            <label for="letraAbajoT">Agregar frase abajo del todo.</label>
                            <input type="text" name="letraAbajoT" id="letraAbajoT" class="preguntasFrecuentes__section__article" value="<%= locals.old ? old.letraAbajoT : null %>">
                        </div>
                        <!-- BOTONES -->
                        <div class="preguntasAgregar__Caja__boton">
                            <!-- boton para cancelar, vuelve a la pagina de pagos -->
                            <a href="/footer/pagos"><button type="button" class="registro__email__botonRegistro">Cancelar</button></a>
                            <!-- boton para guardar, manda la peticion al metodo escribirPregunta para almacenar la pregunta en el JSON -->
                            <div>
                                <button onclick="formParaValidar('form-metodos-validator')" type="submit" class="registro__email__botonRegistro">Guardar</button>
                            </div>                           
                        </div>
                        <br><small id="form-preguntas-exito"></small>
                    </form>
                </section>
            </main>
        <%- include('../../partials/footer') %>
        <script src="/javascripts/validaciones/validaciones_footer/validatorFormMetodos.js"></script>
    </body>