<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head', {title: 'Metodos de Pago' }) %>

  <body>
    <%- include('../../partials/header') %>
      <main class="metodosDePago">
        <section class="metodosDePago__section">
          <article class="metodosDePago__section__article">
            <!-- TITULO -->
            <h1>Medios de pago <a href="/footer/pagos/agregar"><i class="fa-solid fa-plus"></i></a></h1>
            <p>Podés pagar tus compras con cualquiera de estos medios. Es rápido y seguro, siempre.</p>
          </article>
          <!-- ARTICULOS -->
          <% for( let x=0; x < metodos.length; x++ ) { %>
            <article class="metodosDePago__section__article">
              <!-- ICONO -->
              <div class="metodosDePago__section__article__icono"><i class="<%= metodos[x].icono %>"></i></div>
              <!-- SUBTITULO -->
              <h4>
                <%= metodos[x].titulo %>
              </h4>
              <small>
                <%= metodos[x].letraAbajoTitulo %>
              </small>
              <!-- IMAGENES -->
              <div>
                <% for( let y=0; y < metodos[x].img.length; y++ ) { %>
                  <% if (metodos[x].letraAbajoDeImagen.length===0) { %>
                    <% if (metodos[x].img[y].includes("https")) { %>
                      <img src="<%= metodos[x].img[y] %>" alt="" id="img">
                      <% } else { %>
                        <img src="/img/footerImgs/metodosDePago/<%= metodos[x].img[y] %>" alt="" id="img">
                        <% } %>
                    <% } else { %>
                      <figure>
                        <% if (metodos[x].img[y].includes("https")) { %>
                          <img src="<%= metodos[x].img[y] %>" alt="" id="img">
                          <% } else { %>
                            <img src="/img/footerImgs/metodosDePago/<%= metodos[x].img[y] %>" alt="" id="img">
                            <% } %>
                        <small>
                          <%= metodos[x].letraAbajoDeImagen[y] %>
                        </small>
                      </figure>
                      <% } %>
                        <% } %>
              </div>
              <!-- LETRA ABAJO DEL TODO -->
              <small>
                <%= metodos[x].letraFullAbajo %>
              </small>

            </article>
            <div class="preguntasAgregar__Caja__boton">
              <!-- boton para editar, si hace click aca lo mandamos a una ruta dinamica con su id para editar la elegida, con los metodos editarPregunta y modificarPregunta -->
              <a href="/footer/pagos/editar/<%= metodos[x].id %>"><button type="button"
                  class="registro__email__botonRegistro">Editar</button></a>
              <!-- boton para eliminar, si haces click se elimina completamente, con el metodo eliminarPregunta -->
              <form action="/footer/pagos/eliminar/<%= metodos[x].id %>?_method=DELETE" method="post">
                <button type="submit" class="registro__email__botonRegistro">Eliminar</button>
              </form>
            </div>
            <!-- fecha que contiene el json, dada gracias a new Date(), que al agregar o modificar le agrega la fecha exacta. Metodo ubicado en data/db_FooterModule -->
            <small class="preguntasAgregar__Caja__boton">
              <%= metodos[x].fecha %>
            </small>
            <% } %>
        </section>
      </main>
      <%- include('../../partials/footer') %>
  </body>

</html>