<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head', {title: 'Preguntas Frecuentes' }) %>

  <body class="preguntasFrecuentes-body">
    <%- include('../../partials/header') %>
      <main class="preguntasFrecuentes">
        <section class="preguntasFrecuentes__section">
          <!-- TITULO Y BUSCADOR-->
          <!-- tiene un + al lado para agregar una pregunta, si hace click manda la peticion al metodo agregarPregunta -->
          <div class="preguntasFrecuentes__section__cajaTitulo">
            <h1>Preguntas frecuentes <a href="/footer/preguntas/agregar"><i class="fa-solid fa-plus"></i></a></h1>
            <!-- metodo searchPregunta de footerController, mandamos el keywords a la vista preguntasEncontradas-->
            <form action="/footer/preguntas/search" class="header_section_input preguntasFrecuentes_barraBuscador" method="get">
              <input type="text" name="keywords" placeholder="Buscar una pregunta...">
              <span class="header_section_input_span"><i class="fa-solid fa-magnifying-glass"></i></span>
            </form>
          </div>
          <!-- ARTICULOS -->
          <% for( let x=0; x < preguntas.length; x++ ) { %>
            <% if (preguntas[x].response.length===1) { %>
              <!-- si hay solo 1 respuesta en el json, entra y carga los preguntas del JSON utilizando el id para las clases. y sus respectivos datos en su lugar  -->
              <!-- TITULO -->
              <article class="preguntasFrecuentes__section__article"
                onclick="document.querySelector('.preguntasFrecuentes__section__respuesta<%= preguntas[x].id %>').classList.toggle('preguntasFrecuentes__section__respuesta1-Responder')">
                <h2>
                  <%= preguntas[x].title %>
                </h2>
                <div class="preguntasFrecuentes__section__article__cajaIcono">
                  v
                </div>
              </article>
              <!-- parte a mostrar si hace click -->
              <!-- RESPUESTA -->
              <p class="preguntasFrecuentes__section__respuesta<%= preguntas[x].id %>">
                <%= preguntas[x].response %>
                  <% if (preguntas[x].href.length> 0) { %>
                    <!-- Preguntamos si tiene href el json -->
                    <a href="<%= preguntas[x].href %>" target="_blank">
                      <%= preguntas[x].a %>
                    </a>
                    <% } %>
              </p>
              <!-- BOTONES Y FECHA -->
              <div class="preguntasAgregar__Caja__boton">
                <!-- boton para editar, si hace click aca lo mandamos a una ruta dinamica con su id para editar la elegida, con los metodos editarPregunta y modificarPregunta -->
                <a href="/footer/preguntas/editar/<%= preguntas[x].id %>"><button type="button" class="registro__email__botonRegistro">Editar</button></a>
                <!-- boton para eliminar, si haces click se elimina completamente, con el metodo eliminarPregunta -->
                <form action="/footer/preguntas/eliminar/<%= preguntas[x].id %>?_method=DELETE" method="post">
                  <button type="submit" class="registro__email__botonRegistro">Eliminar</button>
                </form>
              </div>
              <!-- fecha que contiene el json, dada gracias a new Date(), que al agregar o modificar le agrega la fecha exacta. Metodo ubicado en data/db_FooterModule -->
              <small class="preguntasAgregar__Caja__boton"><%= preguntas[x].fecha %> </small>
                <% } else if (preguntas[x].response.length> 1) { %>
                  <!--  si hay mas de 1 respuesta en el json, entra y carga los preguntas del JSON utilizando el id para las clases. y sus respectivos datos en su lugar -->
                  <!-- TITULO -->
                  <article class="preguntasFrecuentes__section__article"
                    onclick="document.querySelector('.preguntasFrecuentes__section__respuesta<%= preguntas[x].id %>').classList.toggle('preguntasFrecuentes__section__respuesta1-Responder')">
                    <h2>
                      <%= preguntas[x].title %>
                    </h2>
                    <div class="preguntasFrecuentes__section__article__cajaIcono">
                      v
                    </div>
                  </article>
                  <!-- parte a mostrar si hace click -->
                  <!-- RESPUESTA -->
                  <ul class="preguntasFrecuentes__section__respuesta<%= preguntas[x].id %>">
                    <% preguntas[x].response.forEach(element=> { %>
                      <li>
                        <%= element %>
                      </li>
                      <% }) %>
                  </ul>
                  <!-- BOTONES Y FECHA -->
                  <div class="preguntasAgregar__Caja__boton">
                    <!-- boton para editar, si hace click aca lo mandamos a una ruta dinamica con su id para editar la elegida, con los metodos editarPregunta y modificarPregunta -->
                    <a href="/footer/preguntas/editar/<%= preguntas[x].id %>"><button type="button" class="registro__email__botonRegistro">Editar</button></a>
                    <!-- boton para eliminar, si haces click se elimina completamente, con el metodo eliminarPregunta -->
                    <form action="/footer/preguntas/eliminar/<%= preguntas[x].id %>?_method=DELETE" method="post">
                      <button type="submit" class="registro__email__botonRegistro">Eliminar</button>
                    </form>
                  </div>
                  <!-- fecha que contiene el json, dada gracias a new Date(), que al agregar o modificar le agrega la fecha exacta. Metodo ubicado en data/db_FooterModule -->
                  <small class="preguntasAgregar__Caja__boton"><%= preguntas[x].fecha %> </small>
                  <% } %>
                    <% } %>
        </section>
      </main>
      <%- include('../../partials/footer') %>
  </body>

</html>