<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head', {title: 'Preguntas Frecuentes' }) %>

  <body class="preguntasFrecuentes-body">
    <%- include('../../partials/header') %>
      <main class="preguntasFrecuentes">
        <section class="preguntasFrecuentes__section">
          <!-- TITULO -->
          <div class="preguntasFrecuentes__section__cajaTitulo">
            <h1>Preguntas frecuentes <a href="/footer/preguntas/agregar"><i class="fa-solid fa-plus"></i></a></h1>
            
            <form action="/footer/preguntas/search" class="header_section_input preguntasFrecuentes_barraBuscador" method="get">
              <input type="text" name="keywords" placeholder="Buscar una pregunta...">
              <span class="header_section_input_span"><i class="fa-solid fa-magnifying-glass"></i></span>
            </form>
          </div>
          <!-- ARTICULOS -->
          <% for( let x=0; x < preguntas.length; x++ ) { %>
            <% if (preguntas[x].response.length===1) { %>
              <!-- preguntamos si hay solo 1 respuesta en el json -->
              <article class="preguntasFrecuentes__section__article"
                onclick="document.querySelector('.preguntasFrecuentes__section__respuesta<%= preguntas[x].id %>').classList.toggle('preguntasFrecuentes__section__respuesta1-Responder')">
                <h2>
                  <%= preguntas[x].title %>
                </h2>
                <div class="preguntasFrecuentes__section__article__cajaIcono">
                  v
                </div>
              </article>
              <p class="preguntasFrecuentes__section__respuesta<%= preguntas[x].id %>">
                <%= preguntas[x].response %>
                  <% if (preguntas[x].href.length> 0) { %>
                    <!-- Preguntamos si tiene href el json -->
                    <a href="<%= preguntas[x].href %>" target="_blank">
                      <%= preguntas[x].a %>
                    </a>
                    <% } %>
                    <!--  -->
              </p>
              <div class="preguntasAgregar__Caja__boton">
                <a href="/footer/preguntas/editar/<%= preguntas[x].id %>"><button type="button" class="registro__email__botonRegistro">Editar</button></a>
                <form action="/footer/preguntas/eliminar/<%= preguntas[x].id %>?_method=DELETE" method="post">
                  <button type="submit" class="registro__email__botonRegistro">Eliminar</button>
                </form>
              </div>
              <!--  -->
                <% } else if (preguntas[x].response.length> 1) { %>
                  <!-- preguntamos si hay mas de 1 respuesta en el json -->
                  <article class="preguntasFrecuentes__section__article"
                    onclick="document.querySelector('.preguntasFrecuentes__section__respuesta<%= preguntas[x].id %>').classList.toggle('preguntasFrecuentes__section__respuesta1-Responder')">
                    <h2>
                      <%= preguntas[x].title %>
                    </h2>
                    <div class="preguntasFrecuentes__section__article__cajaIcono">
                      v
                    </div>
                  </article>
                  <ul class="preguntasFrecuentes__section__respuesta<%= preguntas[x].id %>">
                    <% preguntas[x].response.forEach(element=> { %>
                      <li>
                        <%= element %>
                      </li>
                      <% }) %>
                  </ul>
                  <div class="preguntasAgregar__Caja__boton">
                    <a href="/footer/preguntas/editar/<%= preguntas[x].id %>"><button type="button" class="registro__email__botonRegistro">Editar</button></a>
                    <form action="/footer/preguntas/eliminar/<%= preguntas[x].id %>?_method=DELETE" method="post">
                      <button type="submit" class="registro__email__botonRegistro">Eliminar</button>
                    </form>
                  </div>
                  <% } %>
                    <% } %>
        </section>
      </main>
      <%- include('../../partials/footer') %>
  </body>

</html>