<div class="col-12 col-sm-6 col-lg-3">
    <section class="product-box">
        <a href="/products/detail/<%= Id %>">
            <figure class="product-box_image">
                <img src=<%= Image %> alt="imagen de producto">
            </figure>
            <article class="product-box_data">
                <h2>$<%= toThousand((parseInt(Precio) - (parseInt(Precio) * parseInt(Descuento) / 100)).toFixed(0)) %> </h2>
                <% if (Descuento > 0) { %>
                    <span><%= Descuento %>% OFF</span>
                <% } %>
                <p><%= Nombre %> </p>
            </article>
        </a>
    </section>
</div>