<!-- PRODUCTOS SEGUNDA IMAGEN-->
<a href="/products/detail/<%= Id %>" target="_blank" class="carrito__primer__producto">
    <article class="carrito__primer__imagen">
      <img class="carrito__imagen__producto" src=<%= Image %> alt="" />
    </article>
    <!-- PRODUCTOS DESCRIPCION-->
    <article class=" carrito__producto__general">
      <p class="carrito__subtotal">PRODUCTO:</p>
      <p class="carrito__producto__desktop"><%= Nombre %></p>
    </article>
    <article class="carrito__subtotal__general">
        <p class="carrito__subtotal">CATEGORIA:</p>
        <p class="carrito__producto__desktop"><%= Categoria %></p>
      </article>
    <article class="carrito__cantidad__general">
      <p class="carrito__subtotal">AROMA:</p>
      <p class="carrito__producto__desktop"><%= Aroma %></p>
    </article>
    <article class="carrito__subtotal__general">
        <p class="carrito__subtotal">STOCK:</p>
        <p class="carrito__producto__desktop"><%= Stock %></p>
      </article>
    <article class="carrito__subtotal__general">
        <p class="carrito__subtotal">DESCUENTO:</p>
        <p class="carrito__producto__desktop">%<%= Descuento %></p>
    </article>
    <article class="carrito__precio__general">
        <p class="carrito__subtotal">PRECIO:</p>
        <p class="carrito__producto__desktop">$<%= toThousand((parseInt(Precio) - (parseInt(Precio) * parseInt(Descuento) / 100)).toFixed(0)) %></p>
    </article>
</a>
