<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Oferta'}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="ofertas_main">
        <article class="ofertas_main_section_article_titulo">
            <h1 class="ofertas_main_titulo">Productos en oferta</h1>
          </article>
      <section class="ofertas_main_section_productos_destacados">
        <article class="ofertas_main_section_article_imagenes">
          <% for( let index = 0; index < 4; index++ ) { %>
            <div class="home_main_section_productos_destacados_caja">
              <a href="/products/detail/<%= productosEnOferta[index].Id %>"><img class="home_main_section_productos_destacados_img--mobile"
                src="<%= productosEnOferta[index].Image %>"
                alt="imagen producto"
            /></a>
              <div class="home_main_section_productos_destacados_parrafo--mobile">
                <p class="home_main_parrafo_mobile_titulo"><%= productosEnOferta[index].Nombre %></p>
                <br>
                <p class="home_main_parrafo_mobile_precio">
                  <% if ( productosEnOferta[index].Descuento > 0 ) { %>
                    <% let precioDescuento = productosEnOferta[index].Precio - (productosEnOferta[index].Precio * (productosEnOferta[index].Descuento / 100)) %> 
                    <span class="precioDesc">$<%= precioDescuento %> </span>
                    <s>$<%= productosEnOferta[index].Precio %></s>
                  <% } else { %>
                    <span class="precioDesc">$<%= productosEnOferta[index].Precio %></span>
                  <% } %>
                </p>
              </div>
            </div>
          <% } %>
        </article>
      </section>
      <section class="ofertas_main_section_productos_destacados">
        <article class="ofertas_main_section_article_imagenes">
          
          <% for( let index = 4; index < 8; index++ ) { %>
            <div class="home_main_section_productos_destacados_caja">
              <a href="/products/detail/<%= productosEnOferta[index].Id %>"><img class="home_main_section_productos_destacados_img--mobile"
                src="<%= productosEnOferta[index].Image %>"
                alt="imagen producto"
            /></a>
              <div class="home_main_section_productos_destacados_parrafo--mobile">
                <p class="home_main_parrafo_mobile_titulo"><%= productosEnOferta[index].Nombre %></p>
                <br>
                <p class="home_main_parrafo_mobile_precio">
                  <% if ( productosEnOferta[index].Descuento > 0 ) { %>
                    <% let precioDescuento = productosEnOferta[index].Precio - (productosEnOferta[index].Precio * (productosEnOferta[index].Descuento / 100)) %> 
                    <span class="precioDesc">$<%= precioDescuento %> </span>
                    <s>$<%= productosEnOferta[index].Precio %></s>
                  <% } else { %>
                    <span class="precioDesc">$<%= productosEnOferta[index].Precio %></span>
                  <% } %>
                </p>
              </div>
            </div>
          <% } %>
        </article>
      </section>
      <section class="ofertas_main_section_productos_destacados">
        <article class="ofertas_main_section_article_imagenes">
          
          <% for( let index = 8; index < 12; index++ ) { %>
            <div class="home_main_section_productos_destacados_caja">
              <a href="/products/detail/<%= productosEnOferta[index].Id %>"><img class="home_main_section_productos_destacados_img--mobile"
                src="<%= productosEnOferta[index].Image %>"
                alt="imagen producto"
            /></a>
              <div class="home_main_section_productos_destacados_parrafo--mobile">
                <p class="home_main_parrafo_mobile_titulo"><%= productosEnOferta[index].Nombre %></p>
                <br>
                <p class="home_main_parrafo_mobile_precio">
                  <% if ( productosEnOferta[index].Descuento > 0 ) { %>
                    <% let precioDescuento = productosEnOferta[index].Precio - (productosEnOferta[index].Precio * (productosEnOferta[index].Descuento / 100)) %> 
                    <span class="precioDesc">$<%= precioDescuento %> </span>
                    <s>$<%= productosEnOferta[index].Precio %></s>
                  <% } else { %>
                    <span class="precioDesc">$<%= productosEnOferta[index].Precio %></span>
                  <% } %>
                </p>
              </div>
            </div>
          <% } %>
        </article>
      </section>
      
      
    </main>
    <%- include('../partials/footer') %>
    </body>
</html>
