<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {title: 'Oferta'}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="ofertas_main">
        <article class="ofertas_main_section_article_titulo">
            <h1 class="ofertas_main_titulo">Productos en oferta</h1>
          </article>
      <section class="ofertas_main_section_productos_destacados">
        <article class="ofertas_main_section_article_imagenes">
          <div class="home_main_section_productos_destacados_caja">
            <a href="/products/detail/<%= productosEnOferta[1].Id %>"><img class="home_main_section_productos_destacados_img--mobile"
              src="<%= productosEnOferta[1].Image %>"
              alt="imagen producto"
          /></a>
              
            <div class="ofertas_main_section_productos_destacados_parrafo--mobile">
              <p class="ofertas_main_parrafo_mobile_precio">$<%= productosEnOferta[1].Precio %></p>
              <br>
              <p class="ofertas_main_parrafo_mobile_titulo"><%= productosEnOferta[1].Nombre %></p> 
            </div>
          </div>

          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="/products/detail/<%= productosEnOferta[0].Id %>"><img class="ofertas_main_section_productos_destacados_img--tablet"
              src="<%= productosEnOferta[0].Image %>"
              alt="imagen producto"
          /></a>
              
            <div class="ofertas_main_section_productos_destacados_parrafo--tablet">
              <p class="ofertas_main_parrafo_mobile_precio">$<%= productosEnOferta[0].Precio %></p>
              <br>
              <p class="ofertas_main_parrafo_mobile_titulo"><%= productosEnOferta[0].Nombre %></p> 
            </div>
          </div>
          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="/products/detail/<%= productosEnOferta[3].Id %>"><img class="ofertas_main_section_productos_destacados_img--deskop"
              src="<%= productosEnOferta[3].Image %>"
              alt="imagen producto"
          /></a>
           
            <div class="ofertas_main_section_productos_destacados_parrafo--deskop">
              <p class="home_main_parrafo_mobile_precio">$<%= productosEnOferta[3].Precio %></p>
              <br>
              <p class="home_main_parrafo_mobile_titulo"><%= productosEnOferta[3].Nombre %></p> 
            </div>
          </div>
        </article>
      </section>
      <section class="ofertas_main_section_productos_destacados">
        <article class="ofertas_main_section_article_imagenes">
          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="/products/detail/<%= productosEnOferta[4].Id %>"><img class="ofertas_main_section_productos_destacados_img--mobile"
              src="<%= productosEnOferta[4].Image %>"
              alt="imagen producto"
          /></a>
              
            <div class="ofertas_main_section_productos_destacados_parrafo--mobile">
              <p class="home_main_parrafo_mobile_precio">$<%= productosEnOferta[4].Precio %></p>
              <br>
              <p class="home_main_parrafo_mobile_titulo"><%= productosEnOferta[4].Nombre %></p> 
            </div>
          </div>

          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="/products/detail/<%= productosEnOferta[5].Id %>"><img class="ofertas_main_section_productos_destacados_img--tablet"
              src="<%= productosEnOferta[5].Image %>"
              alt="imagen producto"
          /></a>
              
            <div class="ofertas_main_section_productos_destacados_parrafo--tablet">
              <p class="home_main_parrafo_mobile_precio">$<%= productosEnOferta[5].Precio %></p>
              <br>
              <p class="home_main_parrafo_mobile_titulo"><%= productosEnOferta[5].Nombre %></p> 
            </div>
          </div>

          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="/products/detail/<%= productosEnOferta[6].Id %>"><img class="ofertas_main_section_productos_destacados_img--deskop"
              src="<%= productosEnOferta[6].Image %>"
              alt="imagen producto"
          /></a>
            
            <div class="ofertas_main_section_productos_destacados_parrafo--deskop">
              <p class="home_main_parrafo_mobile_precio">$<%= productosEnOferta[6].Precio %></p>
              <br>
              <p class="home_main_parrafo_mobile_titulo"><%= productosEnOferta[6].Nombre %></p> 
            </div>
          </div>
        </article>
      </section>
      <section class="ofertas_main_section_productos_destacados">
        <article class="ofertas_main_section_article_imagenes">
          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="/products/detail/<%= productosEnOferta[7].Id %>"><img class="ofertas_main_section_productos_destacados_img--mobile"
              src="<%= productosEnOferta[7].Image %>"
              alt="imagen producto"
          /></a>
              
            <div class="ofertas_main_section_productos_destacados_parrafo--mobile">
              <p class="home_main_parrafo_mobile_precio">$<%= productosEnOferta[7].Precio %></p>
              <br>
              <p class="home_main_parrafo_mobile_titulo"><%= productosEnOferta[7].Nombre %></p> 
            </div>
          </div>

          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="/products/detail/<%= productosEnOferta[8].Id %>"><img class="ofertas_main_section_productos_destacados_img--tablet"
              src="<%= productosEnOferta[8].Image %>"
              alt="imagen producto"
          /></a>
              
            <div class="ofertas_main_section_productos_destacados_parrafo--tablet">
              <p class="home_main_parrafo_mobile_precio">$<%= productosEnOferta[8].Precio %></p>
              <br>
              <p class="home_main_parrafo_mobile_titulo"><%= productosEnOferta[8].Nombre %></p> 
            </div>
          </div>

          <div class="ofertas_main_section_productos_destacados_caja">
            <a href="/products/detail/<%= productosEnOferta[9].Id %>"><img class="ofertas_main_section_productos_destacados_img--deskop"
              src="<%= productosEnOferta[9].Image %>"
              alt="imagen producto"
          /></a>
            
            <div class="ofertas_main_section_productos_destacados_parrafo--deskop">
              <p class="home_main_parrafo_mobile_precio">$<%= productosEnOferta[9].Precio %></p>
              <br>
              <p class="home_main_parrafo_mobile_titulo"><%= productosEnOferta[9].Nombre %></p> 
            </div>
          </div>
        </article>
      </section>
    </main>
    <%- include('../partials/footer') %>
    </body>
</html>
