<%- include('../partials/head', {title: 'Perfil' })%> 
<body class="perfil-body">
    <%- include('../partials/header') %> 
    <main class="perfil-main">
        <div class="perfil-container">
        <div class="perfil-main-h1-img">
            <a class="perfil-main-salida" href="/">x</a>
            <img class="perfil-main-image" src="../img/fotos-users/<%= locals.userLogged.avatar ? locals.userLogged.avatar : "default.png" %>"/>
            <h1 class="perfil-main-titulo">Bienvenido <%= user.name %></h1>
        </div>
        <form  action="/users/update/<%= user.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
            <div class="perfil-main-formulario">
                <div class="perfil-main-conteiner1">   
                    <div class="perfil-main-caja--input-label">
                    <label class="perfil-main-label" for="name">Nombre</label>
                    <input class="perfil-main-input" name="name" type="text" value="<%= user.name %>">
                </div>
                
                <div class="perfil-main-caja--input-label">
                    <label class="perfil-main-label" for="password">Contraseña</label>
                    <input class="perfil-main-input" name="password" type="password" >
                    <span class="registro-text-danger"><%= locals.errors && errors.password ? errors.password.msg : null %></span>
                </div>
                <div class="perfil-main-caja--input-label">
                    <label class="perfil-main-label" for="password2">Confirmar Contraseña</label>
                    <input class="perfil-main-input" name="password2" type="password" >
                    <span class="registro-text-danger"><%= locals.errors && errors.password2 ? errors.password2.msg : null %></span>
                </div>
                <div class="perfil-main-caja--input-label">
                    <label class="perfil-main-label" for="phone">Telefono</label>
                    <input class="perfil-main-input" name="phone" type="tel" value="<%= user.phone %>">
                </div>
                <div class="perfil-main-caja--input-label">
                    <label class="perfil-main-label" for="birthday">Fecha de nacimiento</label>
                    <input class="perfil-main-input" name="birthday" type="date" value="<%= user.birthday %>">
                </div>
                <div class="perfil-main-caja--input-label-checkbox">
                    <label class="perfil-main-label" for="intereses">Intereses</label>
                    <div class="perfil-main-caja-checkbox">
                     <label  class="perfil-main-label-checkbox" for="jabones"> 
                        <input class="perfil-main-input-checkbox"  value="jabones" type="checkbox" id="jabones"  name="interests" <%= user.interests && user.interests.includes('jabones') && "checked"%>>Jabones</label>
                     </div>
                     <div class="perfil-main-caja-checkbox">
                        <label class="perfil-main-label-checkbox" for="suavisantes">
                        <input class="perfil-main-input-checkbox"  value="suavisantes" type="checkbox" id="suavisantes" name="interests" <%= user.interests && user.interests.includes('suavisantes') && "checked"%>> Suavisantes</label>
                    </div>
                    <div class="perfil-main-caja-checkbox">
                        <label class="perfil-main-label-checkbox" for="lavandinas">
                        <input class="perfil-main-input-checkbox"  value="lavandinas" type="checkbox" id="lavandinas" name="interests" <%= user.interests && user.interests.includes('lavandinas') && "checked"%>> Lavandinas</label>
                </div>
            </div>
        </div>
             <div class="perfil-main-conteiner2">
                <div class="perfil-main-caja--input-label">
                    <label class="perfil-main-label" for="nationality">Nacionalidad</label>
                    <input class="perfil-main-input" name="nationality" type="text" value="<%= user.nationality %>">
                </div>
                <div class="perfil-main-caja--input-label">
                    <label class="perfil-main-label" for="domicile">Domicilio</label>
                    <input class="perfil-main-input" name="domicile" type="text" value="<%= user.domicile %>">
                </div>
                <div class="perfil-main-caja--input-label">
                    <label class="perfil-main-label" for="city">Ciudad</label>
                    <input class="perfil-main-input" name="city" type="text" value="<%= user.city %>">
                </div>
                <div class="perfil-main-caja--input-label">
                    <label class="perfil-main-label" for="postalCode">Codigo Postal</label>
                    <input class="perfil-main-input" name="postalCode" type="text" value="<%= user.postalCode %>">
                </div>
                <div class="perfil-main-caja--input-label">
                    <label class="perfil-main-label" for="dni">Dni</label>
                    <input class="perfil-main-input" name="dni" type="number" value="<%= user.dni %>">
                </div>
                
                    <div class="perfil-main-caja--input-label-radio">
                        <label class="perfil-main-label" for="genero">Genero</label>
                         <div class="perfil-main-caja-radio">
                        <label class="perfil-main-radio-label" for="masculino">
                            <input class="perfil-main-radio" <%= user.gender === "m" && 'checked' %>  value="m" type="radio" id="masculino" name="gender"> Masculino</label>
                         </div>
                         <div class="perfil-main-caja-radio">
                            <label class="perfil-main-radio-label" for="femenino">
                            <input class="perfil-main-radio" <%= user.gender === "f" && 'checked' %> value="f" type="radio" id="femenino" name="gender"> Femenino</label>
                        </div>
                        <div class="perfil-main-caja-radio">
                            <label class="perfil-main-radio-label" for="otro">
                            <input class="perfil-main-radio" value="o" <%= user.gender === "o" && 'checked' %> type="radio" id="otro" name="gender"> Otro</label>
                    </div>
                </div>
             </div>
           
            </div>
            <div class="perfil-main-caja--input-label2">
                <label class="perfil-main-label2" for="avatar">Imagen</label>
                <input class="perfil-main-input2" name="avatar" type="file">
            </div>
            <div class="perfil-main-caja--boton">
                <button class="perfil_botonRegistro" type="reset">CANCELAR</button>
                <button class="perfil_botonRegistro" type="submit">GUARDAR</button>
              </div>
        </form>
    </div>
    </main>
    
</body>
</html>