<%- include('../partials/head', {title: 'Perfil' })%> 
<body class="perfil-body">
    <%- include('../partials/header') %> 
    <main class="perfil-main">
        <div class="perfil-container">
        <div class="perfil-main-h1-img">
            <a class="perfil-main-salida" href="/">x</a>
            <div>
                <img class="perfil-main-image" alt="foto de perfil" src="/img/fotos-users/<%= user.avatar ? user.avatar : "default.png" %>">
                <span class="perfil-main-titulo"> Bienvenido <b><%= user.name %></b></span>
            </div>
            
        </div>
        <form  id='registro-main-form' action="/users/update/<%= user.id %>?_method=PUT" enctype="multipart/form-data" method="POST">
            <div class="perfil-main-formulario">
                <div class="perfil-main-conteiner1">   
                    <div class="perfil-main-caja--input-label">
                    <input id="registro-main-form-name" class="perfil-main-input <%= locals.errors && errors.name ? "registro__email__container-inValid" : null %>" name="name" type="text" value="<%= user.name %>" placeholder="Nombre">
                    
                    <span class="registro-text-danger"><%= locals.errors && errors.name ? errors.name.msg : null %></span>
                    <span id="registro-text-errores-name" class="registro-text-danger"></span>
                    <ul id="passUl" hidden> 
                        <li id="mayu">Mayuscula</li>
                        <li id="minu">Minuscula</li>
                        <li id="num">Numero</li>
                        <li id="sim">Simbolo ($@$!%*?&)</li>
                        <li id="minSeis">Minimo 6 caracteres</li>
                        <li id="maxOcho">Maximo 8 caracteres</li>
                      </ul>
                </div>
                
                <div class="perfil-main-caja--input-label">
                    
                    <input id="registro-main-form-password" class="perfil-main-input <%= locals.errors && errors.password ? "registro__email__container-inValid" : null %>" name="password" type="password"  placeholder="Contraseña">

                    
                    <span class="registro-text-danger"><%= locals.errors && errors.password ? errors.password.msg : null %></span>
                    <span id="registro-text-errores-password" class="registro-text-danger"></span>
                </div>
                <div class="perfil-main-caja--input-label">
                    
                    <input id="registro-main-form-password2" class="perfil-main-input <%= locals.errors && errors.password2 ? "registro__email__container-inValid" : null %>" name="password2" type="password"  placeholder="Repetir contraseña" >
                    
                    <span class="registro-text-danger"><%= locals.errors && errors.password2 ? errors.password2.msg : null %></span>
                    <span id="registro-text-errores-password2" class="registro-text-danger"></span>
                </div>
                <div class="perfil-main-caja--input-label">
                    <input class="perfil-main-input" name="phone" type="tel" value="<%= user.phone %>" placeholder="Telefono">
                    
                </div>
                <div class="perfil-main-caja--input-label">
                    <input class="perfil-main-input" name="birthday" type="date" value="<%= moment(user.birthday).format('YYYY-MM-DD') %>"  placeholder="Fecha de nacimiento">
                    
                </div>
                <div class="perfil-main-caja--input-label-checkbox">
                    <label for="">Intereses</label>
                    
                    <div class="perfil-main-caja-checkbox">
                     <label  class="perfil-main-label-checkbox" for="jabones"> 
                        <input class="perfil-main-input-checkbox"  value="jabones" type="checkbox" id="jabones"  name="interests" <%= interestsToLogin && interestsToLogin.includes('jabones') && "checked"%>> Jabones</label>
                     
                        <label class="perfil-main-label-checkbox" for="suavisantes">
                        <input class="perfil-main-input-checkbox"  value="suavisantes" type="checkbox" id="suavisantes" name="interests" <%= interestsToLogin && interestsToLogin.includes('suavisantes') && "checked"%>> Suavisantes</label>
                    
                        <label class="perfil-main-label-checkbox" for="lavandinas">
                        <input class="perfil-main-input-checkbox"  value="lavandinas" type="checkbox" id="lavandinas" name="interests" <%= interestsToLogin && interestsToLogin.includes('lavandinas') && "checked"%>> Lavandinas</label>
                </div>
            </div>
        </div>
             <div class="perfil-main-conteiner2">
                <div class="perfil-main-caja--input-label">
                    <input class="perfil-main-input" name="nationality" type="text" value="<%= user.nationality %>"  placeholder="Nacionalidad">
                    
                </div>
                <div class="perfil-main-caja--input-label">
                    <input class="perfil-main-input" name="domicile" type="text" value="<%= user.address %>"  placeholder="Domicilio">
                    
                </div>
                <div class="perfil-main-caja--input-label">
                    <input class="perfil-main-input" name="city" type="text" value="<%= user.city %>" placeholder="Ciudad">
                    
                </div>
                <div class="perfil-main-caja--input-label">
                    <input class="perfil-main-input" name="postalCode" type="text" value="<%= user.postal_code %>" placeholder="Cod Postal">
                    
                </div>
                <div class="perfil-main-caja--input-label">
                    <input class="perfil-main-input" name="dni" type="number" value="<%= user.dni %>"  placeholder="DNI">
                    
                </div>
                
                    <div class="perfil-main-caja--input-label-radio">
                        <label for="">Genero</label>
                         <div class="perfil-main-caja-radio">
                        <label class="perfil-main-radio-label" for="masculino">
                            <input class="perfil-main-radio" <%= user.id_gender === 1 && 'checked' %>  value="m" type="radio" id="masculino" name="gender"> Masculino</label>
                         
                            <label class="perfil-main-radio-label" for="femenino">
                            <input class="perfil-main-radio" <%= user.id_gender === 2 && 'checked' %> value="f" type="radio" id="femenino" name="gender"> Femenino</label>
                        
                            <label class="perfil-main-radio-label" for="otro">
                            <input class="perfil-main-radio" value="o" <%= user.id_gender === 3 && 'checked' %> type="radio" id="otro" name="gender"> Otro</label>
                    </div>
                </div>
             </div>
           
            </div>
            <div class="perfil-main-formulario">
                <div class="perfil-main-caja--input-label2">
                    <label class="perfil-main-label2" for="avatar">Imagen</label>
                    <input id="avatar" onchange="foto_change(this)" class="perfil-main-input2 <%= locals.errors && errors.avatar ? "registro__email__container-inValid" : null %>" name="avatar" type="file">
                    <span class="registro-text-danger"><%= locals.errors && errors.avatar ? errors.avatar.msg : null %></span>
                    <span id="registro-text-errores-avatar" class="registro-text-danger"></span>
                </div>
                <div class="perfil-main-caja--input-label2">
                    <div class="contenedor-preview"></div>
                </div>
            </div>
            <span id="registro-text-errores-formulario" class="registro-text-danger"></span>
            <div class="perfil-main-caja--boton">
                <button class="perfil_botonRegistro" type="reset">CANCELAR</button>
                <button class="perfil_botonRegistro" type="submit">GUARDAR</button>
              </div>
        </form>
    </div>
    </main>
    <script src="../../../../javascripts/validaciones/validaciones_users/profile.js"></script>
</body>
</html>